Repository andrewscwei/react-isomorphic-starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, stylelint

lint:
  name: Lint TypeScript/React files
  entry: npx eslint
  language: system

stylelint:
  name: Lint styles
  entry: npx stylelint
  language: system

fix: Replace section with div
  src/ui/pages/home/Home.tsx
  src/ui/styles/styles.css
Due: lint, stylelint

style: Reorganize imports
  lib/esr/middlewares/catchAll.ts
  lib/esr/middlewares/renderRoot.ts
  lib/esr/middlewares/serveSitemap.ts
  lib/esr/types/Middleware.ts
  lib/esr/types/RenderFunction.ts
  lib/esr/types/SitemapOptions.ts
  lib/esr/utils/extractPaths.ts
  lib/esr/utils/generateSitemap.ts
  lib/i18n/I18nProvider.tsx
  lib/i18n/defineConfig.ts
  lib/i18n/defineRoutes.tsx
  lib/i18n/loadTranslations.ts
  lib/i18n/useChangeLocale.ts
  lib/i18n/utils/createGetLocalizedPath.ts
  lib/i18n/utils/createGetLocalizedString.ts
  lib/i18n/utils/createResolveLocaleOptions.ts
  lib/i18n/utils/getLocalizedURL.ts
  lib/i18n/utils/getLocalizedURLs.ts
  lib/i18n/utils/getUnlocalizedURL.ts
  lib/i18n/utils/parseURL.ts
  lib/i18n/utils/resolveLocaleFromURL.ts
  lib/meta/MetaProvider.tsx
  lib/meta/hooks/useAppleMeta.ts
  lib/meta/hooks/useOpenGraphMeta.ts
  lib/meta/hooks/useTwitterMeta.ts
  lib/meta/useMeta.ts
  lib/ssr/middlewares/renderRoot.ts
  lib/ssr/middlewares/serveSitemap.ts
  lib/ssr/types/Middleware.ts
  lib/ssr/types/RenderFunction.ts
  lib/ssr/types/SitemapOptions.ts
  lib/ssr/utils/createFetchRequest.ts
  lib/ssr/utils/extractPaths.ts
  lib/ssr/utils/generateSitemap.ts
  package.json
  src/ui/containers/Page.tsx
Due: lint

build: Upgrade dependencies
  package-lock.json
  package.json
Due: none

fix: Fix boilerplate styles
  src/ui/styles/styles.css
Due: stylelint

feat: Move `assets` directory to `src`
  .pre-commit-config.yaml
  src/assets/fonts/Roboto-Bold.ttf
  src/assets/fonts/Roboto-Light.ttf
  src/assets/fonts/Roboto-Regular.ttf
  src/assets/images/github-logo.svg
  src/assets/svgs/react-logo.svg
  src/ui/components/Footer.tsx
  src/ui/components/ReactLogo.tsx
  src/ui/styles/styles.css
Due: lint, stylelint

build: Update pre-commit config
  .pre-commit-config.yaml
Due: none

feat: Handle `dev` flag when injecting HTML data
  lib/esr/index.ts
  lib/esr/middlewares/renderRoot.ts
  lib/esr/types/HTMLData.ts
  lib/esr/utils/injectHTMLData.ts
  lib/i18n/I18nProvider.tsx
  lib/meta/MetaProvider.tsx
  lib/ssr/index.ts
  lib/ssr/middlewares/renderRoot.ts
  lib/ssr/types/HTMLData.ts
  lib/ssr/utils/injectHTMLData.ts
Due: lint

fix: Resolve `HydrateFallback` warning
  src/routes.config.ts
Due: lint

feat: Support multiple locale directories
  lib/i18n/defineConfig.ts
  lib/i18n/loadTranslations.ts
  src/routes.config.ts
Due: lint

feat: Update folder structure
  lib/i18n/loadTranslations.ts
  src/App.tsx
  src/assets/fonts/Roboto-Bold.ttf
  src/assets/fonts/Roboto-Light.ttf
  src/assets/fonts/Roboto-Regular.ttf
  src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf
  src/main.client.tsx
  src/main.edge.tsx
  src/main.server.tsx
  src/routes.config.ts
  src/styles/theme.css
  src/ui/ErrorBoundary.tsx
  src/ui/__tests__/App.spec.tsx
Due: lint, stylelint

feat: Rename page folders (1/2)
  src/routes.config.ts
  src/ui/pages/_Home/Home.tsx
  src/ui/pages/_NotFound/NotFound.tsx
Due: lint

feat: Rename page folders (2/2)
  src/ui/pages/Home/Home.tsx
  src/ui/pages/NotFound/NotFound.tsx
Due: lint

feat: Rename page folders (2/2)
  src/routes.config.ts
Due: lint

test: Relocate test files
  src/__tests__/App.spec.tsx
Due: lint

docs: Update README
  README.md
Due: none

build: Update Vite config
  lib/debug/index.ts
  lib/esr/types/HTMLData.ts
  lib/ssr/types/HTMLData.ts
  lib/vite-env.d.ts
  package.json
  src/app.config.ts
  src/vite-env.d.ts
  vite.config.ts
Due: lint

feat: Improve HTML data injection
  lib/esr/middlewares/renderRoot.ts
  lib/esr/utils/injectHTMLData.ts
  lib/ssr/middlewares/renderRoot.ts
  lib/ssr/utils/injectHTMLData.ts
  package-lock.json
  package.json
Due: lint

fix: Fix React logo
  src/ui/components/ReactLogo.tsx
Due: lint

feat: Improve support for value and condition processing when rendering templates
  functions/[[catchall]].ts
  lib/esr/index.ts
  lib/esr/middlewares/catchAllMiddleware.ts
  lib/esr/middlewares/renderMiddleware.ts
  lib/esr/middlewares/sitemapMiddleware.ts
  lib/esr/types/HTMLData.ts
  lib/esr/utils/injectHTMLData.ts
  lib/esr/utils/renderTemplate.ts
  lib/meta/MetaProvider.tsx
  lib/meta/hooks/useAppleMeta.ts
  lib/meta/types/Metadata.ts
  lib/meta/useMeta.ts
  lib/ssr/index.ts
  lib/ssr/middlewares/devMiddleware.ts
  lib/ssr/middlewares/renderMiddleware.ts
  lib/ssr/middlewares/sitemapMiddleware.ts
  lib/ssr/middlewares/ssrMiddleware.ts
  lib/ssr/middlewares/staticMiddleware.ts
  lib/ssr/types/HTMLData.ts
  lib/ssr/utils/injectHTMLData.ts
  lib/ssr/utils/renderTemplate.ts
  src/index.html
Due: lint

feat: Use RenderContext to persist metadata and local data
  eslint.config.mjs
  lib/esr/index.ts
  lib/esr/middlewares/catchAllMiddleware.ts
  lib/esr/middlewares/renderMiddleware.ts
  lib/esr/types/LocalDataProvider.ts
  lib/esr/types/RenderContext.ts
  lib/esr/types/RenderFunction.ts
  lib/ssr/index.ts
  lib/ssr/middlewares/renderMiddleware.ts
  lib/ssr/types/LocalDataProvider.ts
  lib/ssr/types/RenderContext.ts
  lib/ssr/types/RenderFunction.ts
  src/main.edge.tsx
  src/main.server.tsx
Due: lint

feat: Support customizable variables in index.html
  src/index.html
Due: none

refactor: Refactor libs
  eslint.config.mjs
  lib/i18n/types/Locale.ts
  lib/meta/hooks/useAppleMeta.ts
  lib/meta/hooks/useDOMEffect.ts
  lib/meta/hooks/useOpenGraphMeta.ts
  lib/meta/hooks/useTwitterMeta.ts
  lib/meta/index.ts
  lib/meta/useFavicon.ts
  lib/meta/useMeta.ts
Due: lint

feat: Encode replaced strings when rendering template using SSR or ESR
  eslint.config.mjs
  lib/esr/utils/renderTemplate.ts
  lib/ssr/utils/renderTemplate.ts
  package-lock.json
  package.json
Due: lint

build: Upgrade dependencies
  eslint.config.mjs
  package-lock.json
  package.json
Due: lint

feat: Optimize favicons
  lib/meta/MetaProvider.tsx
  lib/meta/useFavicon.ts
  lib/meta/useMeta.ts
  lib/meta/utils/updateElementAttributes.ts
  res/favicon/favicon-dark.afdesign
  res/favicon/favicon-dark.ico
  res/favicon/favicon-dark.png
  res/favicon/favicon-dark.svg
  res/favicon/favicon-light.afdesign
  res/favicon/favicon-light.ico
  res/favicon/favicon-light.png
  res/favicon/favicon.afdesign
  res/favicon/favicon.png
  res/favicon/favicon.svg
  res/mask-icon/mask-icon.afdesign
  res/mask-icon/mask-icon.svg
  src/index.html
  static/favicon-dark.ico
  static/favicon-dark.png
  static/favicon-dark.svg
  static/favicon-light.ico
  static/favicon.png
  static/favicon.svg
Due: lint

feat: Add ClientError page
  src/locales/en.json
  src/ui/ErrorBoundary.tsx
  src/ui/pages/ClientError/ClientError.tsx
Due: lint

fix: Fix favicons
  src/App.tsx
Due: lint

feat: Make light scheme favicon default
  res/favicon/favicon-light.afdesign
  res/favicon/favicon.afdesign
  res/favicon/favicon.ico
  res/favicon/favicon.png
  src/index.html
  static/favicon.ico
Due: none

feat: Handle favicons in useMeta
  lib/meta/hooks/useFavicon.ts
  lib/meta/index.ts
  lib/meta/types/Metadata.ts
  lib/meta/useMeta.ts
  src/index.html
Due: lint

fix: Remove mask-icon.svg
  static/mask-icon.svg
Due: none

build: Upgrade dependencies
  .node-version
  package-lock.json
  package.json
Due: none

fix: Fix favicon updates
  lib/meta/hooks/useFavicon.ts
Due: lint

build: Upgrade dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: none

build: Update Dockerfile Node version
  Dockerfile
Due: none

Path conditions:
  lint: any of: \.(js|cjs|mjs|jsx|ts|cts|mts|tsx)$
  stylelint: any of: \.(css)$
