Repository andrewscwei/react-isomorphic-starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, stylelint

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint
        name: Lint TypeScript/React files
        entry: npx eslint
        language: system
        files: \.(js|cjs|mjs|jsx|ts|cts|mts|tsx)$
  - repo: local
    hooks:
      - id: stylelint
        name: Lint styles
        entry: npx stylelint
        language: system
        files: \.(css)$
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        name: Lint commit message
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

chore: Remove CHANGELOG
  .releaserc
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: Rename static to public
  README.md
  public/_routes.json
  public/app-icon-180.png
  public/app-icon-192.png
  public/app-icon-512.png
  public/favicon-dark.ico
  public/favicon.ico
  public/manifest.json
  public/og-image.png
  public/robots.txt
  public/twitter-card.png
  vite.config.ts
Due: lint

build: Upgrade lib
  lib/esr/middlewares/catchAllMiddleware.ts
  lib/i18n/defineRoutes.tsx
  public/_routes.json
  src/routes.config.ts
Due: lint

refactor: Optimize public PNGs
  public/app-icon-180.png
  public/app-icon-192.png
  public/app-icon-512.png
  public/og-image.png
  public/twitter-card.png
Due: none

refactor: Optimize fonts
  src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf
  src/assets/fonts/Roboto-VariableFont_wdth,wght.woff2
  src/styles/theme.css
Due: stylelint

refactor: Optimize SVGs
  src/assets/images/github-logo.svg
  src/assets/svgs/react-logo.svg
Due: none

refactor: Use non-relative paths
  .vscode/settings.json
  src/__tests__/App.spec.tsx
  src/main.client.tsx
  src/main.edge.tsx
  src/main.server.tsx
  src/routes.config.ts
  src/ui/ErrorBoundary.tsx
  src/ui/components/Footer.tsx
  src/ui/components/ReactLogo.tsx
  src/ui/containers/Page.tsx
  src/ui/pages/ClientError/ClientError.tsx
  src/ui/pages/Home/Home.tsx
  src/ui/pages/NotFound/NotFound.tsx
  tsconfig.json
  vite.config.ts
Due: lint

fix: Fix typo in index.html
  src/index.html
Due: none

feat: Exclude static assets in dev middleware
  lib/ssr/middlewares/devMiddleware.ts
Due: lint

fix: Fix hydration issues in dev middleware
  lib/ssr/middlewares/devMiddleware.ts
Due: lint

refactor: Rename t's to v's
  lib/esr/middlewares/catchAllMiddleware.ts
  lib/esr/utils/generateSitemap.ts
  lib/i18n/defineRoutes.tsx
  lib/i18n/utils/constructURL.ts
  lib/i18n/utils/getLocalizedURL.ts
  lib/i18n/utils/getUnlocalizedURL.ts
  lib/i18n/utils/resolveLocaleFromURL.ts
  lib/meta/utils/updateElementAttributes.ts
  lib/ssr/prerender.ts
  lib/ssr/utils/generateSitemap.ts
  src/main.client.tsx
Due: lint

feat: Create useI18n
  lib/i18n/index.ts
  lib/i18n/useI18n.ts
  lib/i18n/useLocale.ts
  lib/i18n/useLocalizedPath.ts
  lib/i18n/useLocalizedString.ts
  src/ui/components/Footer.tsx
  src/ui/containers/Page.tsx
  src/ui/pages/ClientError/ClientError.tsx
  src/ui/pages/Home/Home.tsx
  src/ui/pages/NotFound/NotFound.tsx
Due: lint

build: Upgrade dependencies
  package-lock.json
  package.json
Due: none

feat: Optimize app icons
  .gitignore
  lib/meta/hooks/useAppleMeta.ts
  public/app-icon-180.png
  public/app-icon-192.png
  public/app-icon-512.png
  public/apple-touch-icon-180.png
  public/apple-touch-icon.png
  public/manifest.json
  public/og-image.png
  public/twitter-card.png
  res/app-icon/app-icon-180.png
  res/app-icon/app-icon-192.png
  res/app-icon/app-icon-512.png
  res/app-icon/app-icon.afdesign
  res/apple-touch-icon/apple-touch-icon.afdesign
  res/favicon/favicon-dark.ico
  res/favicon/favicon-dark.png
  res/favicon/favicon.ico
  res/favicon/favicon.png
  res/og-image/og-image.afdesign
  res/og-image/og-image.png
  res/twitter-card/twitter-card.afdesign
  res/twitter-card/twitter-card.png
  src/index.html
Due: lint

feat: Improve cleanup step of prerendering
  lib/ssr/prerender.ts
Due: lint

fix: Escape special characters in baseURL and locales for regex matching in prerender script
  lib/ssr/prerender.ts
Due: lint

fix: Escape special characters in localData for safe rendering
  lib/ssr/middlewares/renderMiddleware.ts
Due: lint

fix: Add timeout option to ESR rendering
  lib/esr/middlewares/renderMiddleware.ts
Due: lint

build: Upgrade dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: lint

fix: Clear timeout on successful rendering in ESR and SSR middleware
  lib/esr/middlewares/renderMiddleware.ts
  lib/ssr/middlewares/renderMiddleware.ts
Due: lint

fix: Optimize metadata context value using useMemo in MetaProvider
  lib/meta/MetaProvider.tsx
Due: lint

fix: Wrap NotFound component in Suspense for lazy loading in ErrorBoundary
  src/ui/ErrorBoundary.tsx
Due: lint

build: Use default minification settings
  vite.config.ts
Due: lint

feat: Add minimal manifest.json
  .browserslistrc
  public/manifest.json
  src/index.html
  vite.config.ts
Due: lint

feat: Remove manifest.json
  lib/meta/useMeta.ts
  public/manifest.json
  src/index.html
Due: lint

build: Upgrade TypeScript
  package-lock.json
  package.json
Due: none

feat: Add typings for main.edge.js module
  functions/tsconfig.json
  functions/typings.d.ts
Due: lint

fix: Remove redundant setTimeout call in renderMiddleware
  lib/esr/middlewares/renderMiddleware.ts
Due: lint

fix: Correct URL construction by adjusting host and port concatenation
  lib/i18n/utils/constructURL.ts
Due: lint

chore: Clean up config files and CI/CD workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .stylelintrc
  README.md
  eslint.config.ts
  package.json
Due: lint

fix: Improve error handling in renderMiddleware by returning error message
  lib/esr/middlewares/renderMiddleware.ts
Due: lint

chore: Clean up config files
  .vscode/settings.json
  package.json
  src/routes.config.ts
  tsconfig.json
Due: lint

feat: Support path pattern matching in ESR middlewares
  .pre-commit-config.yaml
  lib/esr/middlewares/catchAllMiddleware.ts
  package-lock.json
  package.json
Due: lint

build: Upgrade dependencies and build tools
  package-lock.json
  package.json
  vite.config.ts
Due: lint

build: Update vite config asset file name format
  vite.config.ts
Due: lint
